# -------------------------------------------------------------------------------
# This file contains configuration of the audio plugin.
#   Package:                 test (Test Case)
#   Package version:         0.0.0-devel
#   Plugin name:             Sidechain Matcher Stereo (Sidechain Matcher Stereo)
#   Plugin version:          1.0.0
#   UID:                     sc_matcher_stereo
#   CLAP URI:                in.lsp-plug.sc_matcher_stereo
#   GStreamer identifier:    lsp-plugins-sc-matcher-stereo
#   LV2 URI:                 http://lsp-plug.in/plugins/lv2/sc_matcher_stereo
#   VST 2.x identifier:      MQsS
#   VST 3.x identifier:      6473702073636D71317320204D517353
# 
# (C) Test Case
#   https://lsp-plug.in/
# 
# -------------------------------------------------------------------------------

# Side-chain shared memory link [string]
link = ""

# Bypass [boolean]: true/false
bypass = false

# Input gain [G]: 0.00000000..1000.00000000
g_in = 0.00 db

# Output gain [G]: 0.00000000..1000.00000000
g_out = 0.00 db

# FFT size: 0..6
#   0: 256
#   1: 512
#   2: 1024
#   3: 2048
#   4: 4096
#   5: 8192
#   6: 16384
fft_sz = 4

# Input profile reactivity [s]: 0.10000000..10.00000000
rct_in = 2.85080

# Reference profile reactivity [s]: 0.10000000..10.00000000
rct_ref = 0.43881

# Input source: 0..1
#   0: Static
#   1: Dynamic
in_src = 1

# Reference source: 0..5
#   0: None
#   1: Capture
#   2: File
#   3: Envelope
#   4: Sidechain
#   5: Link
ref_src = 4

# Capture source: 0..2
#   0: In
#   1: Sidehcain
#   2: Link
cap_src = 1

# Blend signal [%]: 0.00000000..100.00000000
blend = 75.22935

# Profile [boolean]: true/false
profile = false

# Capture [boolean]: true/false
capture = false

# Listen capture [boolean]: true/false
listen = false

# High-pass filter enable [boolean]: true/false
hpf_on = true

# High-pass filter frequency [Hz]: 10.00000000..500.00000000
hpf_f = 30.00000

# High-pass filter slope [dB]: 6.00000000..240.00000000
hpf_s = 36.00000

# Low-pass filter enable [boolean]: true/false
lpf_on = true

# Low-pass filter frequency [Hz]: 1000.00000000..24000.00000000
lpf_f = 12162.55762

# Low-pass filter slope [dB]: 6.00000000..240.00000000
lpf_s = 36.00000

# Enable brickwall clipping of high frequencies [boolean]: true/false
clip_on = true

# Brickwall clipping frequency [Hz]: 4000.00000000..24000.00000000
clip_f = 20249.51172

# Stereo link [%]: 0.00000000..100.00000000
slink = 19.26605

# Show file loading [boolean]: true/false
showfil = false

# Reference file [pathname]
file = ""

# File pitch [st]: -24.00000000..24.00000000
fpitch = 0.00000

# Head cut [s]: 0.00000000..1000.00000000
fhcut = 0.00000

# Tail cut [s]: 0.00000000..1000.00000000
ftcut = 0.00000

# Listen file preview [boolean]: true/false
fplay = false

# File preview stop [boolean]: true/false
fstop = false

# Show any FFT analysis for all channels [boolean]: true/false
showfft = false

# Show any profiles [boolean]: true/false
showpro = true

# Show profile envelope [boolean]: true/false
showenv = false

# Show profile limiting [boolean]: true/false
showlim = false

# Show profile morphing [boolean]: true/false
showmrp = false

# Show filters [boolean]: true/false
showflt = false

# Enable tracking of dynamic profiles [boolean]: true/false
track = true

# Enable profile limiting from top [boolean]: true/false
tlimit = true

# Enable profile limiting from bottom [boolean]: true/false
blimit = true

# Enable profile limiting [boolean]: true/false
limit = false

# Perform immediate matching [boolean]: true/false
match = false

# Morph time linking [boolean]: true/false
mrplink = false

# Reference level 25Hz [dB]: -36.00000000..36.00000000
ref_1 = 0.00000

# Amplification threshold 25Hz [dB]: 0.00000000..48.00000000
amp_1 = 12.00000

# Reduction threshold 25Hz [dB]: -48.00000000..0.00000000
red_1 = -12.00000

# Reactivity 25Hz [s]: 0.10000000..10.00000000
spd_1 = 5.00000

# Reference level 50Hz [dB]: -36.00000000..36.00000000
ref_2 = 0.00000

# Amplification threshold 50Hz [dB]: 0.00000000..48.00000000
amp_2 = 12.00000

# Reduction threshold 50Hz [dB]: -48.00000000..0.00000000
red_2 = -12.00000

# Reactivity 50Hz [s]: 0.10000000..10.00000000
spd_2 = 5.00000

# Reference level 107Hz [dB]: -36.00000000..36.00000000
ref_3 = 0.00000

# Amplification threshold 107Hz [dB]: 0.00000000..48.00000000
amp_3 = 12.00000

# Reduction threshold 107Hz [dB]: -48.00000000..0.00000000
red_3 = -12.00000

# Reactivity 107Hz [s]: 0.10000000..10.00000000
spd_3 = 5.00000

# Reference level 227Hz [dB]: -36.00000000..36.00000000
ref_4 = 0.00000

# Amplification threshold 227Hz [dB]: 0.00000000..48.00000000
amp_4 = 12.00000

# Reduction threshold 227Hz [dB]: -48.00000000..0.00000000
red_4 = -12.00000

# Reactivity 227Hz [s]: 0.10000000..10.00000000
spd_4 = 5.00000

# Reference level 484Hz [dB]: -36.00000000..36.00000000
ref_5 = 0.00000

# Amplification threshold 484Hz [dB]: 0.00000000..48.00000000
amp_5 = 12.00000

# Reduction threshold 484Hz [dB]: -48.00000000..0.00000000
red_5 = -12.00000

# Reactivity 484Hz [s]: 0.10000000..10.00000000
spd_5 = 5.00000

# Reference level 1 kHz [dB]: -36.00000000..36.00000000
ref_6 = 0.00000

# Amplification threshold 1 kHz [dB]: 0.00000000..48.00000000
amp_6 = 12.00000

# Reduction threshold 1 kHz [dB]: -48.00000000..0.00000000
red_6 = -12.00000

# Reactivity 1 kHz [s]: 0.10000000..10.00000000
spd_6 = 5.00000

# Reference level 2.2 kHz [dB]: -36.00000000..36.00000000
ref_7 = 0.00000

# Amplification threshold 2.2 kHz [dB]: 0.00000000..48.00000000
amp_7 = 12.00000

# Reduction threshold 2.2 kHz [dB]: -48.00000000..0.00000000
red_7 = -12.00000

# Reactivity 2.2 kHz [s]: 0.10000000..10.00000000
spd_7 = 5.00000

# Reference level 4.7 kHz [dB]: -36.00000000..36.00000000
ref_8 = 0.00000

# Amplification threshold 4.7 kHz [dB]: 0.00000000..48.00000000
amp_8 = 12.00000

# Reduction threshold 4.7 kHz [dB]: -48.00000000..0.00000000
red_8 = -12.00000

# Reactivity 4.7 kHz [s]: 0.10000000..10.00000000
spd_8 = 5.00000

# Reference level 9 kHz [dB]: -36.00000000..36.00000000
ref_9 = 0.00000

# Amplification threshold 9 kHz [dB]: 0.00000000..48.00000000
amp_9 = 12.00000

# Reduction threshold 9 kHz [dB]: -48.00000000..0.00000000
red_9 = -12.00000

# Reactivity 9 kHz [s]: 0.10000000..10.00000000
spd_9 = 5.00000

# Reference level 16 kHz [dB]: -36.00000000..36.00000000
ref_10 = 0.00000

# Amplification threshold 16 kHz [dB]: 0.00000000..48.00000000
amp_10 = 12.00000

# Reduction threshold 16 kHz [dB]: -48.00000000..0.00000000
red_10 = -12.00000

# Reactivity 16 kHz [s]: 0.10000000..10.00000000
spd_10 = 5.00000

# Output IR file name [pathname]
ir_file = "/mnt/work/ВОРК/test_ir_matcher.wav"

# Save output IR file command [boolean]: true/false
ir_save = false

# FFT reactivity [ms]: 0.00000000..1.00000000
react = 0.20000

# FFT Shift gain [G]: 0.00000000..100.00000000
shift = 0.00 db

# Input FFT enabled [boolean]: true/false
ife_l = true

# Output FFT enabled [boolean]: true/false
ofe_l = true

# Capture FFT enabled [boolean]: true/false
cfe_l = true

# Reference FFT enabled [boolean]: true/false
rfe_l = true

# Draw static input profile [boolean]: true/false
psfe_l = false

# Draw capture profile [boolean]: true/false
pcfe_l = false

# Draw file profile [boolean]: true/false
pffe_l = false

# Draw envelope profile [boolean]: true/false
pefe_l = false

# Draw dynamic input profile [boolean]: true/false
pife_l = true

# Draw dynamic reference profile [boolean]: true/false
prfe_l = true

# Draw resulting match profile [boolean]: true/false
pmfe_l = true

# Input FFT enabled [boolean]: true/false
ife_r = true

# Output FFT enabled [boolean]: true/false
ofe_r = true

# Capture FFT enabled [boolean]: true/false
cfe_r = true

# Reference FFT enabled [boolean]: true/false
rfe_r = true

# Draw static input profile [boolean]: true/false
psfe_r = false

# Draw capture profile [boolean]: true/false
pcfe_r = false

# Draw file profile [boolean]: true/false
pffe_r = false

# Draw envelope profile [boolean]: true/false
pefe_r = false

# Draw dynamic input profile [boolean]: true/false
pife_r = true

# Draw dynamic reference profile [boolean]: true/false
prfe_r = true

# Draw resulting match profile [boolean]: true/false
pmfe_r = true


# -------------------------------------------------------------------------------
# KVT parameters
# -------------------------------------------------------------------------------


# -------------------------------------------------------------------------------
